@{
    ViewBag.Title = "";
}

<div class="jumbotron">
    <h1>Sihl Suporte</h1>

    <p><a href="/Empresa/Create" class="btn btn-primary btn-lg">Novo Cadastro</a>
    </p>
    <img src="~/Content/logo.png" height="150" width="600" class="img-responsive" />
</div>

