@{
    ViewBag.Title = "Replicador";
}

    <div class="modal-content">
        <iframe src="http://186.202.116.166:8088/index.html" id="frame" width="100%" height="600"></iframe>
    </div>
<div>
    @Html.ActionLink("Voltar", "Index", "Clientes")
</div>
