
@{
    ViewBag.Title = "Download";
}

<h2>Download</h2>
<a href="http://www.sihl.servicos.ws/AcessoRemoto.rar" target="_brack">Arquivo para o Acesso</a>
<br/>
<a href="http://www.sihl.servicos.ws/Sihl Remoto.rar" target="_brack">Arquivo para o Cliente</a>
<br />
@Html.ActionLink("Voltar", "Index", "Clientes")
